:root {
  --color-bg: #a75d4e;
  --color-text: #2c2f2d;
  --color-surface: #efe7dc;
  --color-border: #2c2f2d;
  --color-primary: #88918b;
  --color-accent: #4f8674;
  --color-danger: #a75d4e;
  --shadow: 15px 15px 0px var(--color-border);
}

.theme-dark {
  --color-bg: #1a1a1a;
  --color-text: #f1f1f1;
  --color-surface: #2c2c2c;
  --color-border: #444;
  --color-primary: #627f78;
  --color-accent: #6bbfaf;
  --color-danger: #d65c5c;
}

.theme-playful {
  --color-bg: #ffe66d;
  --color-text: #2b2d42;
  --color-surface: #fdfcdc;
  --color-border: #ef476f;
  --color-primary: #06d6a0;
  --color-accent: #118ab2;
  --color-danger: #ef476f;

  --shadow: 10px 10px 0px var(--color-border);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

body {
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "Satoshi", sans-serif;
}

.container {
  width: 60%;
  height: 60%;

  max-height: 90vh;

  background: var(--color-surface);
  border-radius: 20px;
  border: 3px solid var(--color-border);

  display: flex;
  flex-direction: column;

  box-shadow: 15px 15px 0px var(--color-border);
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid var(--color-border);
}

.left-header-items {
  display: flex;
  align-items: center;
  gap: 4px;
}

.center-header-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-header-items:hover {
  opacity: 0.9;
  cursor: pointer;
}

.header-button {
  all: unset;
  font-size: 2rem;
  font-weight: bold;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.2s ease;
}

.center-header-items:hover .hidden-icon {
  opacity: 0.9;
}

.square-button {
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-border);
  border-radius: 5px;
  box-shadow: 1px 1px 0px var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.circle-button {
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-border);
  border-radius: 20px;
  box-shadow: 1px 1px 0px var(--color-border);
}

.circle-button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.bg-dark {
  background-color: var(--color-border);
  color: var(--color-surface);
}

.bg-light {
  background-color: var(--color-surface);
  color: var(--color-text);
}

.body {
  flex: 1;
  width: 100%;
  display: flex;

  overflow: hidden;

  min-height: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 25%;
  height: 100%;
  padding: 20px;

  border-right: 3px solid var(--color-border);
}

.content {
  height: 100%;
  width: 75%;

  min-height: 0;

  overflow-y: auto;

  scrollbar-width: auto;
  scrollbar-color: var(--color-border) var(--color-surface);
}

.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  border: 4px solid var(--color-surface);
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.main-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  width: 100%;
}

.hidden-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bg-primary {
  background: var(--color-primary);
  border-radius: 8px;
}

.bg-ghost {
  background: var(--color-surface);
}

.bg-ghost:hover {
  background: var(--color-primary);
  border-radius: 8px;
}

.nav-item {
  font-size: 1.3rem;
  padding: 15px;
  width: 100%;
  border: none;
  text-decoration: none;

  display: flex;
  font-weight: 600;
  font-family: "Satoshi", sans-serif;
}

.disabled {
  color: var(--color-primary);
}

.say-something {
  display: flex;
  align-items: center;

  padding: 10px 15px;
  width: 100%;

  border: 3px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 4px 4px 0px var(--color-border);
}

select {
  width: 100%;
  font-weight: 800;
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-surface);
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent);
}

select::-ms-expand {
  display: none;
}

.content {
  padding: 20px;
}

p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.content-heading {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.danger {
  color: var(--color-danger);
}

.mobile-user {
  display: none;
  padding: 20px;
  text-align: center;
}

.seperator {
  margin: 50px 0px;
}

.logbook-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logbook-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logbook-entry {
  padding: 15px;
  border: 3px solid var(--color-border);
  border-radius: 8px;
}

.logbook-entry h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.logbook-footer {
  font-size: 0.85rem;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.button {
  padding: 15px;
  border: 3px solid var(--color-border);
  border-radius: 8px;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.025rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 15px;
  border: 3px solid var(--color-border);
  font-family: "Satoshi", sans-serif;
  background: var(--color-surface);
  border-radius: 8px;
  color: var(--color-text);
  font-size: 1rem;
}

input::placeholder {
  color: var(--color-text);
}

textarea {
  padding: 15px;
  border: 3px solid var(--color-border);
  font-family: "Satoshi", sans-serif;
  background: var(--color-surface);
  border-radius: 8px;
  color: var(--color-text);
  font-size: 1rem;
  height: 100px;
  max-width: 100%;
  max-height: 200px;
}

textarea::placeholder {
  color: var(--color-text);
}

@media (max-width: 1400px) {
  .container {
    display: none;
  }

  .body {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }

  .mobile-user {
    display: inline-block;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.link {
  font-weight: 800;
  text-decoration: underline;
}
